.header {
  grid-area: h;
  background-color: var(--bg-main-accent);
  color: var(--text-dark);
  display: flex;
  justify-content: space-between;
}

.titleBlock {
  display: flex;
  align-items: center;
}

.titleBlock img {
  width: 40px;
  margin: 10px 20px;
}

.loginBlock {
  float: right;
}

.header a {
  color: var(--text-dark);
}

.header a:hover {
  text-decoration: none;
}


.authBtn {
  margin: 10px;
}