.descriptionBlock {
    padding: 10px;
    border-radius: 30px;
    background-color: var(--bg-secondary-accent);
    margin: 30px;
    color: var(--dark);
}

.mainPhoto {
    max-width: 150px;
}

.contact {
    margin-left: 10px;
}

.controlsBtn {
    display: block;
    margin: 10px 0;
}