:root {
  --bg-light: #faf2ef;
  --text-light:#b6b1ae;
  --bg-light-secondary: #6ad6b2;
  --bg-light-main: #38c29e;
  --bg-dark: #545c67;
  --text-dark: #ffffff;
  --bg-main-accent: #24b1b8;
  --bg-secondary-accent: #fcd704;
  --text-main-accent: #fcd704;
  --text-secondary-accent: #24b1b8;
  --text-light-secondary: #4a9580;
  --text-light-main: #d7fff6;
}